@using TPFinal.Models;
@model Usuarios


@Html.BeginForm("Login", "Home", FormMethod.Post)
{ 
    <p>Usuario</p>@Html.TextBoxFor(model => model.NombreU)<br />
    <p>Contraseña</p>@Html.PasswordFor(model => model.Contraseña)<br />
    <br />
    <input type="submit" value="Iniciar"/>
}